body {
  background-color: black;
  padding-bottom: 5rem;

}

header{
  display: block;
  text-align: center;
}

img {
  width: 7rem;
}

#headingImageOne{
  text-align: left;
}

#headingImageTwo{
  text-align: right;
}

h1 {
  color: red;
  text-align: center;
  margin-top: 5%;
  font-size: 4rem;
  font-weight: bolder;
  display: inline;
}

p {
  padding: .5rem;
  font-size: large;
  background-color: dimgray;
  color: black;
  text-align: center;
  margin-top: 2rem;
  
}

h2 {
color: red;
margin-top: 3rem;
font-size:x-large;
margin-left: 1rem;
margin-bottom: .5rem;
}

h3 {
  color: red;
  margin-top: 2rem;
  font-size:x-large;
  margin-left: 1rem;
  margin-bottom: .5rem;
  text-align: center;
  text-decoration: underline;
  }

ul {
  color: red;
}

li {
  color: red;
  margin-left: 1.5rem;
  margin-top: .5rem;
}

ol {
  text-align: center;
}

hr {
  border: 1px solid red;
  margin-top: 2rem;
}
